.center-align tr,th {
    text-align: center;
}
.charbox tr,th {
    text-align: center;
}
.charbox td {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.roll:hover {
    background: #ddd;
}
