<!DOCTYPE html>
<html lang="en" ng-app="uesrpgApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UESRPG CharGen</title>

        <!-- Bootstrap -->
        <link href="bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">

        <link href="css/charsheetStyle.css" rel="stylesheet">
    </head>
    <body ng-controller="CharSheetController">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="col-md-3 col-md-offset-3" style="margin-top: 20px;">
                    <div class="form-group">
                        <label for="powerLevel">Power Level</label>            
                        <select ng-model="campaignLevel" ng-options="level.name for level in campaignLevels" id="powerLevel">
                        </select>             
                    </div>
                </div>
                <div class="col-md-4" style="margin-top: 20px;">
                    <p>Points [Spent / Total] [{{player.spentCrp}} / {{campaignLevel.cp}}]</p>
                </div>
            </div>
        </nav><br><br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-2">
                    <h3>Base Characteristics</h3>
                </div>

            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="race">Race</label>            
                        <select ng-model="player.race" ng-options="race.name for race in races">
                            <option value="">-- Choose Race --</option>
                        </select>             
                    </div>
                </div>

                <div class="col-md-8">
                    <table class="table charbox">
                        <thead>
                            <tr>
                                <th>Strength</th><th>Endurance</th><th>Agility</th><th>Intelligence</th><th>Willpower</th><th>Precision</th><th>Personality</th><th>Luck</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{player.race.baseStats.str}}</td>
                                <td>{{player.race.baseStats.end}}</td>
                                <td>{{player.race.baseStats.ag}}</td>
                                <td>{{player.race.baseStats.int}}</td>
                                <td>{{player.race.baseStats.will}}</td>
                                <td>{{player.race.baseStats.prc}}</td>
                                <td>{{player.race.baseStats.prs}}</td>
                                <td>35</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Derived Characteristics</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1 col-md-offset-1">
                    <h4><strong>Total:</strong></h4>
                </div>
                <div class="col-md-8">
                    <table class="table charbox">
                        <thead>
                            <tr>
                                <th>Strength</th><th>Endurance</th><th>Agility</th><th>Intelligence</th><th>Willpower</th><th>Precision</th><th>Personality</th><th>Luck</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>{{player.strength()}}</strong></td>
                                <td><strong>{{player.endurance()}}</strong></td>
                                <td><strong>{{player.agility()}}</strong></td>
                                <td><strong>{{player.intelligence()}}</strong></td>
                                <td><strong>{{player.willpower()}}</strong></td>
                                <td><strong>{{player.precision()}}</strong></td>
                                <td><strong>{{player.personality()}}</strong></td>
                                <td><strong>{{player.luck()}}</strong></td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="fcstr">Favored</label>
                                    <input type="checkbox" id="fcstr"  ng-model="player.favoredCharacteristics.str">
                                </td>
                                <td>
                                    <label for="fcend">Favored</label>
                                    <input type="checkbox" id="fcend"  ng-model="player.favoredCharacteristics.end">
                                </td>
                                <td>
                                    <label for="fcag">Favored</label>
                                    <input type="checkbox" id="fcag"  ng-model="player.favoredCharacteristics.ag">
                                </td>
                                <td>
                                    <label for="fcint">Favored</label>
                                    <input type="checkbox" id="fcint"  ng-model="player.favoredCharacteristics.int">
                                </td>
                                <td>
                                    <label for="fcwill">Favored</label>
                                    <input type="checkbox" id="fcwill"  ng-model="player.favoredCharacteristics.will">
                                </td>
                                <td>
                                    <label for="fcprc">Favored</label>
                                    <input type="checkbox" id="fcprc"  ng-model="player.favoredCharacteristics.prc">
                                </td>
                                <td>
                                    <label for="fcprs">Favored</label>
                                    <input type="checkbox" id="fcprs"  ng-model="player.favoredCharacteristics.prs">
                                </td>
                                <td>
                                    <label for="fclk">Favored</label>
                                    <input type="checkbox" id="fclk"  ng-model="player.favoredCharacteristics.lk">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1 col-md-offset-1">
                    <h4>Rolled:</h4>
                </div>
                <div class="col-md-8">
                    <table class="table charbox">
                        <thead>
                            <tr>
                                <th>Strength</th><th>Endurance</th><th>Agility</th><th>Intelligence</th><th>Willpower</th><th>Precision</th><th>Personality</th><th>Luck</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="roll" ng-click="player.rollStr()">{{player.rolls.str}}</td>
                                <td class="roll" ng-click="player.rollEnd()">{{player.rolls.end}}</td>
                                <td class="roll" ng-click="player.rollAg()">{{player.rolls.ag}}</td>
                                <td class="roll" ng-click="player.rollInt()">{{player.rolls.int}}</td>
                                <td class="roll" ng-click="player.rollWill()">{{player.rolls.will}}</td>
                                <td class="roll" ng-click="player.rollPrc()">{{player.rolls.prc}}</td>
                                <td class="roll" ng-click="player.rollPrs()">{{player.rolls.prs}}</td>
                                <td class="roll" ng-click="player.rollLk()">{{player.rolls.lk}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1" style="top: 30px;">
                    <button type="button" class="btn btn-primary btn-lg" ng-click="player.rollStats()">Roll</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Birthsign</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p><em>Roll your birthsign or reduce your luck to choose</em></p>
                </div>
                <div class="col-md-2">
                    <div class="row" style="margin-bottom:10px;">
                        <button type="button" class="btn btn-default" ng-click="player.rollWarriorBirthsign()">Roll Warrior's Charge</button>
                    </div>
                    <div class="row">
                        <select ng-model="player.birthsign" ng-options="sign.name for sign in birthsigns.warrior">
                            <option>-- Choose Warrior's Charge --</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row" style="margin-bottom:10px;">
                        <button type="button" class="btn btn-default" ng-click="player.rollMageBirthsign()">Roll Mage's Charge</button>
                    </div>
                    <div class="row">
                        <select ng-model="player.birthsign" ng-options="sign.name for sign in birthsigns.mage">
                            <option>-- Choose Mage's Charge --</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row" style="margin-bottom:10px;">
                        <button type="button" class="btn btn-default" ng-click="player.rollThiefBirthsign()">Roll Thief's Charge</button>
                    </div>
                    <div class="row">
                        <select ng-model="player.birthsign" ng-options="sign.name for sign in birthsigns.thief">
                            <option>-- Choose Thief's Charge --</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox" style="margin-top:0px;">
                        <label>
                            <input type="checkbox" ng-model="player.starCursed"> Star Cursed
                        </label>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px;">
                <div class="col-md-4 col-md-offset-2">
                    <h4>{{player.birthsign.name}} <span ng-show="player.starCursed">(Star Cursed)</span></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-md-offset-2">
                    <blockquote>
                        <p><em>{{player.birthsign.description}}</em></p>
                    </blockquote>
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="libs/jquery-2.1.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
        <script src="libs/angular.min.js"></script>

        <script src="src/uesrpgApp.js"></script>
    </body>
</html>
